{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 0.25%, not dead"
    }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ],
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": true
          }
        }]
      ]
    }
  }
}
