os: linux
dist: bionic
addons:
  apt:
    sources:
    - sourceline: 'ppa:exonum/rocksdb'
    - sourceline: 'ppa:maarten-fonville/protobuf'
    - sourceline: 'ppa:fsgmhoward/shadowsocks-libev'
    packages:
      - binutils-dev
      - build-essential
      - cmake
      - g++
      - gcc
      - libcurl4-openssl-dev
      - libdw-dev
      - libelf-dev
      - libiberty-dev
      - libprotobuf-dev
      - librocksdb6.2
      - libsnappy-dev
      - libsodium-dev
      - libssl-dev
      - pkg-config
      - protobuf-compiler

language: node_js
node_js:
- '8'
- '10'
- '12'

env:
  global:
  - ROCKSDB_LIB_DIR=/usr/lib
  - SNAPPY_LIB_DIR=/usr/lib/x86_64-linux-gnu

cache:
  cargo: true
  npm: true

script:
- npm test
- node examples/list-proof.js
- node examples/map-proof.js

jobs:
  include:
  - env: FEATURE=integration
    language: rust
    rust: 1.42.0
    before_install:
    - nvm install 10 && nvm use 10
    - node --version
    - npm --version
    install:
    - npm install
    - npm run integration:build
    script:
    - npm run integration:unix
    # The transactions example requires the integration server, so we test it here.
    - npm run preintegration:unix && node examples/transactions.js
    after_script:
    - npm run postintegration:unix

  - stage: deploy
    env: FEATURE=deploy
    node_js: '10'
    script: skip
    after_success: echo "Done"
    deploy:
    - provider: npm
      email: exonum.bitfury@gmail.com
      skip_cleanup: true
      api_token:
        secure: KQihlRK+otmBcmKWA3w/HKPQxT19KnNVyP+nxaZp/lVrcUqszN1Qr0FAegz8Yaai6y2LVHA7ZKpGIMj9VZ1jEzcp59+jjYDj+gef8/kgPTgUjbmGnOs3p82ljZj4efQSuVwSRiEp4M9hyz2OlIbcPzu9bufLRx8DTmLKbFRWQ/7kaPVEzyJ1Me9kAPwFBVOptMkNR7mFFCNna0jJemi3hBwy59I0tTMAZNh/UUIu5kzG8JJ1kDxEuFLMNq65b6btjcd3gVs/nb3QjTtfx67BcMUCmdOvdgrXdZ1NtcN2SthDG+Ldott1wfL3vpPjCdILB5FrNQz//LSM7REGiNL7x/X51hhkMkD8oZq+SsdTMzODd6N+hoo+z/peKAqGskhsui671isdrwFwW/7u8PLz/kwfT6UEcHSrctwMl4ICICYpF81L/fSpysHMt83+1XqqECEu7pXwAsbgu37GO2vPg3QU3+HtFHdFaIQuGedXw+pbskMn/pbj4Ekh+//nVkhcDM6eJAR5WMXPnznEl9QEY7uSYepPRNLPG4LcBPIHARhSddq07ksWwD2uT2GogQr//Z2lRHjvy4eY+mEwVH4vna/FmQ2mRA9sgrX7E9TvptmamBMcCRZYol3VIDo1Eee3BuR9E5wxjHEyzkfEMrLIr0Oqe3K4L+rrNjfE8wnxBvw=
      on:
        branch: master
        tags: true
        repo: exonum/exonum-client
    - provider: script
      skip_cleanup: true
      script: npm run git-publish
      on:
        branch: master
        repo: exonum/exonum-client

after_success:
- npm run coveralls
